.mst0{fill:#E7E47F;}
.mst1{fill:#4E3009;}
.mst2{fill:#FAC9A2;}
.mst3{fill:#4B430F;}
.mst4{fill:#EDC7A2;}
.mst5{fill:#3C413B;}
.mst6{fill:#4D300D;}
.mst7{fill:#E9DC9B;}
.mst8{fill:#394D34;}
.mst9{fill:#524C0E;}
.mst10{fill:#DED89C;}
.mst11{fill:#4B3E1A;}
.mst12{fill:#3E2302;}
.mst13{fill:#FEC8A2;}
.mst14{fill:#471C06;}
.mst15{fill:#F8F8F8;}
.mst16{fill:#4D3D34;}
.mst17{fill:#E3C9B3;}
.mst18{fill:#98642E;}
.mst19{fill:#4D3626;}
.mst20{fill:#ECC6AF;}
.mst21{fill:#E5C8B1;}
.mst22{fill:#59341C;}
.mst23{fill:#5C331A;}
.mst24{fill:#5F3519;}
.mst25{fill:#694124;}