.st0{fill:#F6F6F6;}
.st1{fill:#8D774E;}
.st2{fill:#2B3133;}
.st3{fill:#C6DCC3;}
.st4{fill:#212D2F;}
.st5{fill:#C7DBC5;}
.st6{fill:#1F3335;}
.st7{fill:#271E13;}
.st8{fill:#DCD0C4;}
.st9{fill:#2E3025;}
.st10{fill:#DCD1C3;}
.st11{fill:#252412;}
.st12{fill:#E8E5E4;}
.st13{fill:#56524A;}
.st14{fill:#302B20;}
.st15{fill:#4A3C34;}
.st16{fill:#393529;}
.st17{fill:#2D4042;}
.st18{fill:#3D3D3D;}
.st19{fill:#373737;}
.st20{fill:#4C4D4F;}
.st21{fill:#B1DBF0;}
.st22{fill:#B4D8ED;}
.st23{fill:#B2D9EF;}
.st24{fill:#B3D6EA;}
.st25{fill:#A2DCDD;}
.st26{fill:#9DC2BF;}
.st27{fill:#9EDDDD;}
.st28{fill:#E1CA50;}
.st29{fill:#473A28;}
.st30{fill:#473829;}
.st31{fill:#CEE2C5;}
.st32{fill:#FDFDFC;}
.st33{fill:#F3F3F4;}
.st34{fill:#F5F4F6;}
.st35{fill:#3F3A36;}
.st36{fill:#433A32;}
.st37{fill:#403830;}
.st38{fill:#534941;}
.st39{fill:#716A61;}
.st40{fill:#3E382C;}
.st41{fill:#6F6659;}