body{
    margin: 0 auto;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(32, 32, 32);
}
//modal
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: rgb(32, 32, 32);
    margin: 5% auto; /* 5% from the top and centered */
    padding: 20px;
    border: 1px solid snow;
    width: 75%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  .modal-img {
      width: 100%;
  }
//modal
.main-container{
    z-index: 100;
}
#gameboard {
    margin: 0 auto;
    height: 70px;
    text-align: center;
    font-size: 65px;
    background-color: rgba(32, 32, 32, 0);
}
#display_result {
    color: rgb(78, 190, 255);
    text-shadow: 1px 1px 5px black;
    margin: 0 auto;
    height: 70px;
    font-size: 52px;
}
button {
    color: rgb(78, 190, 255);
    margin: 8px;
    padding: 8px;
    border: 1px solid rgb(78, 190, 255);
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    text-shadow: 1px 1px 1px black;
    background-color: rgb(29, 29, 29);
    &:hover {
        background-color: rgb(22, 22, 22);

    }
    &:focus {
        outline: none;
    }
}
.higher-btn{
    &:hover {
        box-shadow: 0px 1px 5px black;
    }
    &:active {
        box-shadow: inset 0px 1px 5px rgb(100, 100, 100);
    }
}
.lower-btn {
    &:hover {
        box-shadow: 0px 1px 5px black;
    } 
    &:active {
        box-shadow: inset 0px 1px 5px rgb(100, 100, 100);
    }
}
.reset-btn{
    &:hover{
        box-shadow: 0px 1px 5px black;
    }
    &:active{
        box-shadow: inset 0px 1px 5px rgb(100, 100, 100);
    }
}
i{
    padding: 10px;
    text-shadow: 2px 2px 5px black;
    color: rgb(40, 176, 255);
}
p{
    color: rgb(78, 190, 255);
    text-shadow: 1px 1px 5px black;
    font-size: 45px;
    margin: 5px;
}
.besked-div{
    width: 100%;
    height: 70px;
}
.tries-div{
    width: 100%;
    height: 100px;
}
.score-div {
    width: 100%;
    height: 100px;
}
@media only screen and (max-width: 875px) {
    .besked-div{
        height: 75px;
    }
    .score-div{
        height: 75px;
    }
    .tries-div{
        height: 75px;
    }
    p{
        font-size: 35px;
    }
    button{
        font-size: 16px;
    }
}
@media only screen and (max-width: 525px) {
    .besked-div{
        height: 40px;
    }
    .score-div{
        height: 50px;
    }
    .tries-div{
        height: 50px;
    }
    p{
        font-size: 22px;
    }
    button{
        font-size: 14px;
    }
}
@media only screen and (max-width: 370px) {
    .besked-div{
        height: 35px;
    }
    .score-div{
        height: 35px;
    }
    .tries-div{
        height: 35px;
    }
    p{
        font-size: 20px;
    }
    button{
        font-size: 11px;
    }
}
.morty{
    width: 16%;
    position: fixed;
    right: 0;
    bottom: 0;
    z-index: -1;
    padding: 0 5px;
}
.rick{
    width: 16%;
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: -1;
    padding: 0 5px;
}


/* Popup container */
.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* The actual popup (appears on top) */
  .popup .popuptext {
    visibility: hidden;
    width: 300px;
    background-color: rgb(32, 32, 32);
    border: 1px solid rgb(40, 176, 255);
    color: rgb(40, 176, 255);
    text-align: center;
    font-size: 20px;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: -60px;
    margin-left: -80px;
  }
  
  /* Popup arrow */
  .popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    border-width: 5px;
    border-style: solid;
    border-color: rgb(78, 190, 255) transparent transparent transparent;
  }
  
  /* Toggle this class when clicking on the popup container (hide and show the popup) */
  .popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s
  }
  
  /* Add animation (fade in the popup) */
  @-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
  }
  
  @keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
  }